<!-- <table class="table caption-top">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titulo</th>
      <th scope="col">Descripción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tarea of tareas; let i = index">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ tarea.titulo }}</td>
      <td>{{ tarea.descripcion }}</td>
    </tr>
  </tbody>
</table> -->
<div class="row gap-2">
  <div
    *ngFor="let tarea of tareas; let i = index"
    class="card"
    style="width: 18rem"
  >
    <div class="card-body">
      <h5 class="card-title">{{ tarea.titulo }}</h5>
      <p class="card-text">
        {{ tarea.descripcion }}
      </p>
      <!-- <p class="card-text">
        {{ tarea.estado }}
      </p> -->
      <div class="col">
        <a class="btn btn-warning float-end" (click)="borrarTarea(i)">Borrar</a>
        <a
          [ngClass]="tarea.estado ? 'btn btn-primary' : 'btn btn-success'"
          (click)="completarTarea(tarea)"
          >{{ tarea.estado ? "Completada" : "Pendiente" }}</a
        >
      </div>
    </div>
  </div>
</div>
